@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth;
}
:root {
  --color-text :#000000;
   --color-text-inverse:#ffffff;

  --color-primary : #2563eb;
  --color-primary-hover : #1d4ed8;

  --color-danger: #dc2626;
  --color-danger-hover : #b91c1c;
}

.-HERRO__LOGO- {
  @apply text-2xl font-semibold md:text-4xl xl:col-span-4 xl:font-bold xl:m-0 
}

.--color-text {
  @apply  text-black;
}

.--color-text-inverse {
  @apply  text-white;
}

.--color-primary {
  @apply bg-blue-600
}

.--color-primary-hover {
  @apply bg-blue-700
}

.--color-danger {
  @apply bg-red-600
}

.--color-danger-hover {
  @apply bg-red-700
}
